*{
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.validacion {
    max-width: 600px;
    margin: auto;
    margin-top: 0px;
    padding: 20px 30px;
    background-color: rgba(248, 245, 54, 0.623);
}
